{%extends 'base.html'%} {%block content%}
{% if current_user.is_authenticated %}
<div class="dashboard">
{%for message in get_flashed_messages()%}
<div class="alert" role="alert">
  <strong>Hey {{surname}}</strong> - {{message}}
</div>
{%endfor%}
<br />
<div class="dashboardCont">
  <div class="header">
    <div class="left">
      {%if current_user.profile %}
      <img
        src="{{url_for('static', filename='images/' + current_user.profile )}}"
        style="float: right; width: 200px; height: 200px"
      />
      {%else%}
      <img
        src="{{url_for('static', filename='images/no profile.jpg')}}"
        style="float: right; width: 200px; height: 200px"
      />
      {%endif%}
    </div>
    <div class="right">
      <h1>{{current_user.surname}} {{current_user.middlename}} {{current_user.lastname}}</h1>
      <h2>{{current_user.matric}}</h2>
    </div>
  </div>
  <div class="sectionCont">
    <ul>
      <li class="activedash profile">PROFILE</li>
      <li class="update">UPDATE</li>
      <li class="tHistory">TRANSACTION HISTORY</li>
    </ul>
    <div class="section">
      <div class="profileSection">
        Profile
      </div>
      <div class="updateSection sectNone">
        Update
      </div>
      <div class="tHistorySection sectNone">
        Transfers
      </div>
    </div>
  </div>
  

</div>
</div>
{% endif %} 
{%endblock%}
