{%extends 'base.html'%} {%block content%} {%for message in
get_flashed_messages()%}
<div class="alert alert-warning alert-dismissable fade show" role="alert">
  {{message}}
</div>
{%endfor%} {% if current_user.is_authenticated %}
<div class="payment">
  {%if response%}
  <a
    href="{{ response.data.authorization_url }}"
    class="pay_btn"
    target="_blank"
    >Pay now</a
  >
  {%else%}
  <br />
  <h1>PAYMENT</h1>
  <div class="paymentCont">
    <form method="POST">
        {{form.hidden_tag()}}
        <!--This -->
        <div class="inpt">
            {{form.email.label(class="form-label")}}
            <div class="inputSection">
              <div class="icon">
              </div>
              {{form.email(class="form-control", value=current_user.email, readonly=True)}}
            </div>
        </div>
        <br />
        <div class="inpt">
            {{form.amount.label(class="form-label")}}
            <div class="inputSection">
              <div class="icon">
              </div>
              {{form.amount(class="form-control")}}<br />
            </div>
        </div>
        
        <br>
        {{form.submit(class="pry_btn")}}
      </form>
      {%endif%}
  </div>
</div>
{%endif%} {%endblock%}
