{%extends 'base.html'%}
{%block content%}
{%for message in get_flashed_messages()%}
<div class="alert alert-warning alert-dismissable fade show " role="alert">
    {{message}}
  </div>
{%endfor%}
{%if matric_no%}
<h1>matric_no: {{matric_no}}</h1>
<p>Surname: {{users.surname}}</p>
<p>Surname: {{users.password_hash}}</p>
<p>Passed: {{passed}}</p>
{%else%}
<br/>
    <h1>Login</h1>
    <form method="POST">
        {{form.hidden_tag()}} <!--This -->
        {{form.matric_no.label(class="form-label")}}
        {{form.matric_no(class="form-control")}}<br/>
        {{form.password.label(class="form-label")}}
        {{form.password(class="form-control")}}<br/>
        {{form.submit(class="btn btn-secondary")}}
    </form>
{%endif%}
{%endblock%}